@import 'https://fonts.googleapis.com/css2?family=Inter&display=swap';

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Inter', sans-serif;
    overscroll-behavior: none;

    background: $bg;
    color: $text;
}
