/*
 * Color palette.
 */

// Colors
$black:         #1e1e1e;
$grey:          #181a1b;
$white:         #ffffff;
$orange:        #ffa500;

// Socials
$twitter:       #1da1f2;
$reddit:        #ff4500;
$discord:       #5865f2;
$youtube:       #ff0000;
$github:        #181717;

// System Variables
$bg:            #181520;
$text: $white;
