@import '../palette.scss';

.splash-container {
    & > img, br {
        user-select: none;
    }

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    width: 50%;

    .icon {
        vertical-align: middle;
        padding: 0px 0px 3.5px 0px;

        height: 24px;
        width: 24px;
    }
}

video, .vignette {
    position: fixed;

    width: 100vw;
    height: 100vh;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

video {
    object-fit: cover;
    z-index: -1;
}

.vignette {
    background: #00000080;
    z-index: -1;
}
